<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

    <body>
         <div>
             <ul>
                 <li>
                     <h2>Nome: {{ name }}</h2>
                     <h2>Temp Máxima: {{ tempMax }}</h2>
                     <h2>Temp Min: {{ tempMin }} </h2>
                 </li>
             </ul>
         </div>
    </body>
</html>